Simulation-summer-23/*
Simulation-summer-23.zip
experimentation/Stanford Software.zip
experimentation/Stanford Software/*
experimentation/freemocap/sample_data/*

experimentation/freemocap/recording_17_09_28_gmt-4/annotated_videos/*
experimentation/freemocap/recording_17_37_46_gmt-4/annotated_videos/*
experimentation/freemocap/recording_19_52_46_gmt-4/annotated_videos/*
experimentation/freemocap/recording_19_56_30_gmt-4/annotated_videos/*
experimentation/freemocap/recording_17_09_28_gmt-4/synchronized_videos/*
experimentation/freemocap/recording_17_37_46_gmt-4/synchronized_videos/*
experimentation/freemocap/recording_19_52_46_gmt-4/synchronized_videos/*
experimentation/freemocap/recording_19_56_30_gmt-4/synchronized_videos/*

